// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.1.0.34.2
// Netlist written on Wed Dec  4 22:05:07 2024
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/vparizot/e155/parivo/parivo_fpga/projectparivo/sb_mac16/rtl/sb_mac16.v"
// file 1 "c:/users/vparizot/e155/parivo/parivo_fpga/hardware_test.sv"
// file 2 "c:/users/vparizot/e155/parivo/parivo_fpga/modelsim/dsp.sv"
// file 3 "c:/users/vparizot/e155/parivo/parivo_fpga/modelsim/recursivefilter.sv"
// file 4 "c:/users/vparizot/e155/parivo/parivo_fpga/parivo_main.sv"
// file 5 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ice40up.v"
// file 6 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ice40up.vhd"
// file 7 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 8 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 9 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 10 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 11 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 12 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 13 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 14 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 15 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 16 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 17 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 18 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 19 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 20 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 21 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 22 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 23 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 24 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 25 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/legacy.v"
// file 26 "c:/lscc/radiant/2024.1/ip/common/adder/rtl/lscc_adder.v"
// file 27 "c:/lscc/radiant/2024.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 28 "c:/lscc/radiant/2024.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 29 "c:/lscc/radiant/2024.1/ip/common/counter/rtl/lscc_cntr.v"
// file 30 "c:/lscc/radiant/2024.1/ip/common/fifo/rtl/lscc_fifo.v"
// file 31 "c:/lscc/radiant/2024.1/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 32 "c:/lscc/radiant/2024.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 33 "c:/lscc/radiant/2024.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 34 "c:/lscc/radiant/2024.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 35 "c:/lscc/radiant/2024.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 36 "c:/lscc/radiant/2024.1/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 37 "c:/lscc/radiant/2024.1/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 38 "c:/lscc/radiant/2024.1/ip/common/rom/rtl/lscc_rom.v"
// file 39 "c:/lscc/radiant/2024.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 40 "c:/lscc/radiant/2024.1/ip/pmi/pmi_add.v"
// file 41 "c:/lscc/radiant/2024.1/ip/pmi/pmi_addsub.v"
// file 42 "c:/lscc/radiant/2024.1/ip/pmi/pmi_complex_mult.v"
// file 43 "c:/lscc/radiant/2024.1/ip/pmi/pmi_counter.v"
// file 44 "c:/lscc/radiant/2024.1/ip/pmi/pmi_dsp.v"
// file 45 "c:/lscc/radiant/2024.1/ip/pmi/pmi_fifo.v"
// file 46 "c:/lscc/radiant/2024.1/ip/pmi/pmi_fifo_dc.v"
// file 47 "c:/lscc/radiant/2024.1/ip/pmi/pmi_mac.v"
// file 48 "c:/lscc/radiant/2024.1/ip/pmi/pmi_mult.v"
// file 49 "c:/lscc/radiant/2024.1/ip/pmi/pmi_multaddsub.v"
// file 50 "c:/lscc/radiant/2024.1/ip/pmi/pmi_multaddsubsum.v"
// file 51 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dp.v"
// file 52 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dp_be.v"
// file 53 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dq.v"
// file 54 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dq_be.v"
// file 55 "c:/lscc/radiant/2024.1/ip/pmi/pmi_rom.v"
// file 56 "c:/lscc/radiant/2024.1/ip/pmi/pmi_sub.v"
// file 57 "c:/users/vparizot/e155/parivo/parivo_fpga/modelsim/filename.txt"

//
// Verilog Description of module top
//

module top (input nreset, input din, input sck, input sdi, output bclk, 
            output lrck, output scki, output sdo, input load, output sigwin0, 
            output sigwin1, output sigwin2, output sigwin3, output signal_en, 
            output done);
    
    (* syn_ramstyle="registers", lineinfo="@4(49[14],49[19])" *) wire GND_net;
    (* is_clock=1, lineinfo="@4(18[19],18[22])" *) wire sck_c;
    (* is_clock=1, lineinfo="@4(21[25],21[29])" *) wire bclk_c;
    (* is_clock=1, lineinfo="@4(43[8],43[11])" *) wire scki_c;
    
    wire VCC_net, nreset_c, din_c, sdi_c, lrck_c, sdo_c, load_c, 
        signal_en_c, done_c;
    (* lineinfo="@4(46[14],46[22])" *) wire [7:0]finalVal;
    (* lineinfo="@4(48[15],48[19])" *) wire [23:0]left;
    
    wire sigwin1_c_8, sigwin3_c_3, sigwin2_c_2, sigwin0_c_0;
    (* lineinfo="@4(195[32],195[41])" *) wire [4:0]bit_state;
    
    wire n439, n350;
    
    VHI i2 (.Z(VCC_net));
    (* syn_instantiated=1 *) HSOSC_CORE hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), .TRIM6(GND_net), 
            .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), .TRIM2(GND_net), 
            .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(scki_c));
    defparam hf_osc.CLKHF_DIV = "0b10";
    defparam hf_osc.FABRIC_TRIME = "DISABLE";
    (* lineinfo="@4(15[24],15[30])" *) IB nreset_pad (.I(nreset), .O(nreset_c));
    (* lineinfo="@4(21[25],21[29])" *) OB bclk_pad (.I(bclk_c), .O(bclk));
    (* lineinfo="@4(35[19],35[23])" *) OB done_pad (.I(done_c), .O(done));
    (* lineinfo="@4(32[19],32[26])" *) OB sigwin2_pad (.I(sigwin2_c_2), .O(sigwin2));
    (* lineinfo="@4(33[19],33[26])" *) OB sigwin3_pad (.I(sigwin3_c_3), .O(sigwin3));
    (* lineinfo="@4(34[19],34[28])" *) OB signal_en_pad (.I(signal_en_c), 
            .O(signal_en));
    (* lineinfo="@4(22[31],22[35])" *) OB lrck_pad (.I(lrck_c), .O(lrck));
    (* lineinfo="@4(26[25],26[29])" *) IB load_pad (.I(load), .O(load_c));
    (* lineinfo="@4(19[25],19[28])" *) IB sdi_pad (.I(sdi), .O(sdi_c));
    (* lineinfo="@4(18[19],18[22])" *) IB sck_pad (.I(sck), .O(sck_c));
    (* lineinfo="@4(16[18],16[21])" *) IB din_pad (.I(din), .O(din_c));
    (* lineinfo="@4(31[19],31[26])" *) OB sigwin1_pad (.I(sigwin1_c_8), .O(sigwin1));
    (* lineinfo="@4(30[19],30[26])" *) OB sigwin0_pad (.I(sigwin0_c_0), .O(sigwin0));
    (* lineinfo="@4(25[25],25[28])" *) OB sdo_pad (.I(sdo_c), .O(sdo));
    (* lineinfo="@4(23[31],23[35])" *) OB scki_pad (.I(scki_c), .O(scki));
    (* lineinfo="@4(87[6],87[76])" *) i2s nowitllwork (bclk_c, din_c, bit_state[2], 
            bit_state[1], sigwin1_c_8, scki_c, n350, lrck_c, nreset_c, 
            left[10], left[11], left[16], left[17], left[18], left[19], 
            left[20], left[21], left[22], left[23], n439, signal_en_c);
    VLO i1 (.Z(GND_net));
    (* lineinfo="@4(84[10],84[55])" *) eq1_spi eqspi1 (sck_c, done_c, {finalVal}, 
            sdi_c, sdo_c);
    (* lineinfo="@4(85[11],85[67])" *) eq1_core coretest (left[16], load_c, 
            scki_c, done_c, left[23], {finalVal}, left[22], left[21], 
            left[20], left[19], left[18], left[17]);
    (* lineinfo="@4(90[15],90[67])" *) signalwindow getsignal (sigwin1_c_8, 
            sigwin0_c_0, scki_c, n350, nreset_c, left[10], sigwin2_c_2, 
            left[11], sigwin3_c_3, bit_state[2], bit_state[1], n439);
    
endmodule

//
// Verilog Description of module i2s
//

module i2s (output bclk_c, input din_c, output \bit_state[2] , output \bit_state[1] , 
            output sigwin1_c_8, input scki_c, input n350, output lrck_c, 
            input nreset_c, output \left[10] , output \left[11] , output \left[16] , 
            output \left[17] , output \left[18] , output \left[19] , output \left[20] , 
            output \left[21] , output \left[22] , output \left[23] , output n439, 
            output signal_en_c);
    
    (* is_clock=1, lineinfo="@4(21[25],21[29])" *) wire bclk_c;
    (* is_clock=1, lineinfo="@4(43[8],43[11])" *) wire scki_c;
    (* lineinfo="@4(191[32],191[37])" *) wire [23:0]lsreg;
    
    wire bclk_c_enable_1;
    (* lineinfo="@4(195[32],195[41])" *) wire [4:0]bit_state;
    
    wire n482, n346, n8, n570, n7;
    wire [7:0]n37;
    (* lineinfo="@4(176[32],176[41])" *) wire [8:0]prescaler;
    
    wire n496, n663, GND_net, n494, n660, n492, n657, n490, 
        n654, n568, n398, n651, VCC_net;
    
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(204[14],216[9])" *) FD1P3XZ lsreg_i0_i19 (.D(lsreg[18]), 
            .SP(bclk_c_enable_1), .CK(bclk_c), .SR(GND_net), .Q(lsreg[19]));
    defparam lsreg_i0_i19.REGSET = "RESET";
    defparam lsreg_i0_i19.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(204[14],216[9])" *) FD1P3XZ lsreg_i0_i18 (.D(lsreg[17]), 
            .SP(bclk_c_enable_1), .CK(bclk_c), .SR(GND_net), .Q(lsreg[18]));
    defparam lsreg_i0_i18.REGSET = "RESET";
    defparam lsreg_i0_i18.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(204[14],216[9])" *) FD1P3XZ lsreg_i0_i17 (.D(lsreg[16]), 
            .SP(bclk_c_enable_1), .CK(bclk_c), .SR(GND_net), .Q(lsreg[17]));
    defparam lsreg_i0_i17.REGSET = "RESET";
    defparam lsreg_i0_i17.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(204[14],216[9])" *) FD1P3XZ lsreg_i0_i16 (.D(lsreg[15]), 
            .SP(bclk_c_enable_1), .CK(bclk_c), .SR(GND_net), .Q(lsreg[16]));
    defparam lsreg_i0_i16.REGSET = "RESET";
    defparam lsreg_i0_i16.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(204[14],216[9])" *) FD1P3XZ lsreg_i0_i15 (.D(lsreg[14]), 
            .SP(bclk_c_enable_1), .CK(bclk_c), .SR(GND_net), .Q(lsreg[15]));
    defparam lsreg_i0_i15.REGSET = "RESET";
    defparam lsreg_i0_i15.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(204[14],216[9])" *) IOL_B lsreg_i0_i0 (.PADDI(din_c), 
            .DO1(GND_net), .DO0(GND_net), .CE(bclk_c_enable_1), .IOLTO(GND_net), 
            .HOLD(GND_net), .INCLK(bclk_c), .OUTCLK(GND_net), .DI0(lsreg[0]));
    defparam lsreg_i0_i0.LATCHIN = "NONE_REG";
    defparam lsreg_i0_i0.DDROUT = "NO";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(204[14],216[9])" *) FD1P3XZ lsreg_i0_i14 (.D(lsreg[13]), 
            .SP(bclk_c_enable_1), .CK(bclk_c), .SR(GND_net), .Q(lsreg[14]));
    defparam lsreg_i0_i14.REGSET = "RESET";
    defparam lsreg_i0_i14.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(224[14],243[9])" *) FD1P3XZ left__i1 (.D(lsreg[8]), 
            .SP(n346), .CK(scki_c), .SR(n350), .Q(sigwin1_c_8));
    defparam left__i1.REGSET = "RESET";
    defparam left__i1.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+(C)))" *) LUT4 i133_3_lut (.A(bit_state[0]), .B(\bit_state[2] ), 
            .C(\bit_state[1] ), .Z(n482));
    defparam i133_3_lut.INIT = "0xfefe";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(204[14],216[9])" *) FD1P3XZ lsreg_i0_i7 (.D(lsreg[6]), 
            .SP(bclk_c_enable_1), .CK(bclk_c), .SR(GND_net), .Q(lsreg[7]));
    defparam lsreg_i0_i7.REGSET = "RESET";
    defparam lsreg_i0_i7.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(204[14],216[9])" *) FD1P3XZ lsreg_i0_i13 (.D(lsreg[12]), 
            .SP(bclk_c_enable_1), .CK(bclk_c), .SR(GND_net), .Q(lsreg[13]));
    defparam lsreg_i0_i13.REGSET = "RESET";
    defparam lsreg_i0_i13.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+(C)))" *) LUT4 i3_3_lut (.A(bit_state[4]), .B(bit_state[3]), 
            .C(\bit_state[1] ), .Z(n8));
    defparam i3_3_lut.INIT = "0xfefe";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(204[14],216[9])" *) FD1P3XZ lsreg_i0_i6 (.D(lsreg[5]), 
            .SP(bclk_c_enable_1), .CK(bclk_c), .SR(GND_net), .Q(lsreg[6]));
    defparam lsreg_i0_i6.REGSET = "RESET";
    defparam lsreg_i0_i6.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(204[14],216[9])" *) FD1P3XZ lsreg_i0_i12 (.D(lsreg[11]), 
            .SP(bclk_c_enable_1), .CK(bclk_c), .SR(GND_net), .Q(lsreg[12]));
    defparam lsreg_i0_i12.REGSET = "RESET";
    defparam lsreg_i0_i12.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(204[14],216[9])" *) FD1P3XZ lsreg_i0_i11 (.D(lsreg[10]), 
            .SP(bclk_c_enable_1), .CK(bclk_c), .SR(GND_net), .Q(lsreg[11]));
    defparam lsreg_i0_i11.REGSET = "RESET";
    defparam lsreg_i0_i11.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(204[14],216[9])" *) FD1P3XZ lsreg_i0_i10 (.D(lsreg[9]), 
            .SP(bclk_c_enable_1), .CK(bclk_c), .SR(GND_net), .Q(lsreg[10]));
    defparam lsreg_i0_i10.REGSET = "RESET";
    defparam lsreg_i0_i10.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(204[14],216[9])" *) FD1P3XZ lsreg_i0_i9 (.D(lsreg[8]), 
            .SP(bclk_c_enable_1), .CK(bclk_c), .SR(GND_net), .Q(lsreg[9]));
    defparam lsreg_i0_i9.REGSET = "RESET";
    defparam lsreg_i0_i9.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+(C (D)))+!A (B))" *) LUT4 i197_4_lut (.A(n482), 
            .B(lrck_c), .C(bit_state[3]), .D(bit_state[4]), .Z(n570));
    defparam i197_4_lut.INIT = "0xeccc";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(204[14],216[9])" *) FD1P3XZ lsreg_i0_i5 (.D(lsreg[4]), 
            .SP(bclk_c_enable_1), .CK(bclk_c), .SR(GND_net), .Q(lsreg[5]));
    defparam lsreg_i0_i5.REGSET = "RESET";
    defparam lsreg_i0_i5.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(204[14],216[9])" *) FD1P3XZ lsreg_i0_i4 (.D(lsreg[3]), 
            .SP(bclk_c_enable_1), .CK(bclk_c), .SR(GND_net), .Q(lsreg[4]));
    defparam lsreg_i0_i4.REGSET = "RESET";
    defparam lsreg_i0_i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(204[14],216[9])" *) FD1P3XZ lsreg_i0_i8 (.D(lsreg[7]), 
            .SP(bclk_c_enable_1), .CK(bclk_c), .SR(GND_net), .Q(lsreg[8]));
    defparam lsreg_i0_i8.REGSET = "RESET";
    defparam lsreg_i0_i8.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B))" *) LUT4 i2_2_lut (.A(\bit_state[2] ), .B(bit_state[0]), 
            .Z(n7));
    defparam i2_2_lut.INIT = "0xeeee";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(204[14],216[9])" *) FD1P3XZ lsreg_i0_i3 (.D(lsreg[2]), 
            .SP(bclk_c_enable_1), .CK(bclk_c), .SR(GND_net), .Q(lsreg[3]));
    defparam lsreg_i0_i3.REGSET = "RESET";
    defparam lsreg_i0_i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(204[14],216[9])" *) FD1P3XZ lsreg_i0_i2 (.D(lsreg[1]), 
            .SP(bclk_c_enable_1), .CK(bclk_c), .SR(GND_net), .Q(lsreg[2]));
    defparam lsreg_i0_i2.REGSET = "RESET";
    defparam lsreg_i0_i2.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B (C)+!B (C+!(D)))+!A))", lineinfo="@4(206[13],206[30])" *) LUT4 i1_4_lut (.A(nreset_c), 
            .B(n7), .C(n570), .D(n8), .Z(bclk_c_enable_1));
    defparam i1_4_lut.INIT = "0x0a08";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(204[14],216[9])" *) FD1P3XZ lsreg_i0_i1 (.D(lsreg[0]), 
            .SP(bclk_c_enable_1), .CK(bclk_c), .SR(GND_net), .Q(lsreg[1]));
    defparam lsreg_i0_i1.REGSET = "RESET";
    defparam lsreg_i0_i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(204[14],216[9])" *) FD1P3XZ lsreg_i0_i23 (.D(lsreg[22]), 
            .SP(bclk_c_enable_1), .CK(bclk_c), .SR(GND_net), .Q(lsreg[23]));
    defparam lsreg_i0_i23.REGSET = "RESET";
    defparam lsreg_i0_i23.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(204[14],216[9])" *) FD1P3XZ lsreg_i0_i22 (.D(lsreg[21]), 
            .SP(bclk_c_enable_1), .CK(bclk_c), .SR(GND_net), .Q(lsreg[22]));
    defparam lsreg_i0_i22.REGSET = "RESET";
    defparam lsreg_i0_i22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(186[24],186[40])" *) FD1P3XZ prescaler_24_36__i1 (.D(n37[0]), 
            .SP(VCC_net), .CK(scki_c), .SR(n350), .Q(prescaler[0]));
    defparam prescaler_24_36__i1.REGSET = "RESET";
    defparam prescaler_24_36__i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(224[14],243[9])" *) FD1P3XZ left__i3 (.D(lsreg[10]), 
            .SP(n346), .CK(scki_c), .SR(n350), .Q(\left[10] ));
    defparam left__i3.REGSET = "RESET";
    defparam left__i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(224[14],243[9])" *) FD1P3XZ left__i4 (.D(lsreg[11]), 
            .SP(n346), .CK(scki_c), .SR(n350), .Q(\left[11] ));
    defparam left__i4.REGSET = "RESET";
    defparam left__i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(224[14],243[9])" *) FD1P3XZ left__i9 (.D(lsreg[16]), 
            .SP(n346), .CK(scki_c), .SR(n350), .Q(\left[16] ));
    defparam left__i9.REGSET = "RESET";
    defparam left__i9.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(186[24],186[40])" *) FA2 prescaler_24_36_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(lrck_c), .D0(n496), .CI0(n496), .A1(GND_net), 
            .B1(GND_net), .C1(GND_net), .D1(n663), .CI1(n663), .CO0(n663), 
            .S0(n37[7]));
    defparam prescaler_24_36_add_4_9.INIT0 = "0xc33c";
    defparam prescaler_24_36_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@4(186[24],186[40])" *) FA2 prescaler_24_36_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(bit_state[3]), .D0(n494), .CI0(n494), 
            .A1(GND_net), .B1(GND_net), .C1(bit_state[4]), .D1(n660), 
            .CI1(n660), .CO0(n660), .CO1(n496), .S0(n37[5]), .S1(n37[6]));
    defparam prescaler_24_36_add_4_7.INIT0 = "0xc33c";
    defparam prescaler_24_36_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@4(186[24],186[40])" *) FA2 prescaler_24_36_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(\bit_state[1] ), .D0(n492), .CI0(n492), 
            .A1(GND_net), .B1(GND_net), .C1(\bit_state[2] ), .D1(n657), 
            .CI1(n657), .CO0(n657), .CO1(n494), .S0(n37[3]), .S1(n37[4]));
    defparam prescaler_24_36_add_4_5.INIT0 = "0xc33c";
    defparam prescaler_24_36_add_4_5.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(224[14],243[9])" *) FD1P3XZ left__i10 (.D(lsreg[17]), 
            .SP(n346), .CK(scki_c), .SR(n350), .Q(\left[17] ));
    defparam left__i10.REGSET = "RESET";
    defparam left__i10.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(224[14],243[9])" *) FD1P3XZ left__i11 (.D(lsreg[18]), 
            .SP(n346), .CK(scki_c), .SR(n350), .Q(\left[18] ));
    defparam left__i11.REGSET = "RESET";
    defparam left__i11.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(224[14],243[9])" *) FD1P3XZ left__i12 (.D(lsreg[19]), 
            .SP(n346), .CK(scki_c), .SR(n350), .Q(\left[19] ));
    defparam left__i12.REGSET = "RESET";
    defparam left__i12.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(224[14],243[9])" *) FD1P3XZ left__i13 (.D(lsreg[20]), 
            .SP(n346), .CK(scki_c), .SR(n350), .Q(\left[20] ));
    defparam left__i13.REGSET = "RESET";
    defparam left__i13.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(224[14],243[9])" *) FD1P3XZ left__i14 (.D(lsreg[21]), 
            .SP(n346), .CK(scki_c), .SR(n350), .Q(\left[21] ));
    defparam left__i14.REGSET = "RESET";
    defparam left__i14.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(224[14],243[9])" *) FD1P3XZ left__i15 (.D(lsreg[22]), 
            .SP(n346), .CK(scki_c), .SR(n350), .Q(\left[22] ));
    defparam left__i15.REGSET = "RESET";
    defparam left__i15.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(224[14],243[9])" *) FD1P3XZ left__i16 (.D(lsreg[23]), 
            .SP(n346), .CK(scki_c), .SR(n350), .Q(\left[23] ));
    defparam left__i16.REGSET = "RESET";
    defparam left__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(186[24],186[40])" *) FD1P3XZ prescaler_24_36__i2 (.D(n37[1]), 
            .SP(VCC_net), .CK(scki_c), .SR(n350), .Q(bclk_c));
    defparam prescaler_24_36__i2.REGSET = "RESET";
    defparam prescaler_24_36__i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(204[14],216[9])" *) FD1P3XZ lsreg_i0_i21 (.D(lsreg[20]), 
            .SP(bclk_c_enable_1), .CK(bclk_c), .SR(GND_net), .Q(lsreg[21]));
    defparam lsreg_i0_i21.REGSET = "RESET";
    defparam lsreg_i0_i21.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(186[24],186[40])" *) FA2 prescaler_24_36_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(bclk_c), .D0(n490), .CI0(n490), .A1(GND_net), 
            .B1(GND_net), .C1(bit_state[0]), .D1(n654), .CI1(n654), 
            .CO0(n654), .CO1(n492), .S0(n37[1]), .S1(n37[2]));
    defparam prescaler_24_36_add_4_3.INIT0 = "0xc33c";
    defparam prescaler_24_36_add_4_3.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@4(186[24],186[40])" *) FD1P3XZ prescaler_24_36__i3 (.D(n37[2]), 
            .SP(VCC_net), .CK(scki_c), .SR(n350), .Q(bit_state[0]));
    defparam prescaler_24_36__i3.REGSET = "RESET";
    defparam prescaler_24_36__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(186[24],186[40])" *) FD1P3XZ prescaler_24_36__i4 (.D(n37[3]), 
            .SP(VCC_net), .CK(scki_c), .SR(n350), .Q(\bit_state[1] ));
    defparam prescaler_24_36__i4.REGSET = "RESET";
    defparam prescaler_24_36__i4.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B)+!A (B+(C (D))))", lineinfo="@4(224[14],243[9])" *) LUT4 i26_4_lut (.A(n568), 
            .B(n350), .C(bit_state[0]), .D(n439), .Z(n346));
    defparam i26_4_lut.INIT = "0xdccc";
    (* lut_function="(A (B))", lineinfo="@4(200[43],200[60])" *) LUT4 i49_2_lut (.A(bit_state[3]), 
            .B(bit_state[4]), .Z(n398));
    defparam i49_2_lut.INIT = "0x8888";
    (* lut_function="(!(A+(((D)+!C)+!B)))" *) LUT4 i3_4_lut (.A(prescaler[0]), 
            .B(lrck_c), .C(n398), .D(bclk_c), .Z(n439));
    defparam i3_4_lut.INIT = "0x0040";
    (* lut_function="(A+(B))" *) LUT4 i195_2_lut (.A(\bit_state[2] ), .B(\bit_state[1] ), 
            .Z(n568));
    defparam i195_2_lut.INIT = "0xeeee";
    (* syn_use_carry_chain=1, lineinfo="@4(186[24],186[40])" *) FD1P3XZ prescaler_24_36__i5 (.D(n37[4]), 
            .SP(VCC_net), .CK(scki_c), .SR(n350), .Q(\bit_state[2] ));
    defparam prescaler_24_36__i5.REGSET = "RESET";
    defparam prescaler_24_36__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(186[24],186[40])" *) FD1P3XZ prescaler_24_36__i6 (.D(n37[5]), 
            .SP(VCC_net), .CK(scki_c), .SR(n350), .Q(bit_state[3]));
    defparam prescaler_24_36__i6.REGSET = "RESET";
    defparam prescaler_24_36__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(186[24],186[40])" *) FD1P3XZ prescaler_24_36__i7 (.D(n37[6]), 
            .SP(VCC_net), .CK(scki_c), .SR(n350), .Q(bit_state[4]));
    defparam prescaler_24_36__i7.REGSET = "RESET";
    defparam prescaler_24_36__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(186[24],186[40])" *) FD1P3XZ prescaler_24_36__i8 (.D(n37[7]), 
            .SP(VCC_net), .CK(scki_c), .SR(n350), .Q(lrck_c));
    defparam prescaler_24_36__i8.REGSET = "RESET";
    defparam prescaler_24_36__i8.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (C)+!A (B (C)))", lineinfo="@4(223[29],223[77])" *) LUT4 i1_2_lut_3_lut (.A(\bit_state[2] ), 
            .B(\bit_state[1] ), .C(n439), .Z(signal_en_c));
    defparam i1_2_lut_3_lut.INIT = "0xe0e0";
    (* lineinfo="@4(186[24],186[40])" *) FA2 prescaler_24_36_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(prescaler[0]), .D1(n651), .CI1(n651), .CO0(n651), .CO1(n490), 
            .S1(n37[0]));
    defparam prescaler_24_36_add_4_1.INIT0 = "0xc33c";
    defparam prescaler_24_36_add_4_1.INIT1 = "0xc33c";
    VHI i2 (.Z(VCC_net));
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=6, LSE_RCOL=76, LSE_LLINE=87, LSE_RLINE=87, lineinfo="@4(204[14],216[9])" *) FD1P3XZ lsreg_i0_i20 (.D(lsreg[19]), 
            .SP(bclk_c_enable_1), .CK(bclk_c), .SR(GND_net), .Q(lsreg[20]));
    defparam lsreg_i0_i20.REGSET = "RESET";
    defparam lsreg_i0_i20.SRMODE = "CE_OVER_LSR";
    VLO i1 (.Z(GND_net));
    
endmodule

//
// Verilog Description of module eq1_spi
//

module eq1_spi (input sck_c, input done_c, input [7:0]finalVal, input sdi_c, 
            output sdo_c);
    
    (* is_clock=1, lineinfo="@4(18[19],18[22])" *) wire sck_c;
    (* is_clock=1, lineinfo="@4(18[19],18[22])" *) wire sck_c_derived_2;
    wire [7:0]finalValCaptured_6__N_174;
    (* lineinfo="@4(106[14],106[30])" *) wire [7:0]finalValCaptured;
    
    wire wasdone, sdodelayed;
    wire [0:0]seq_reg_3;
    wire [0:0]seq_reg_4;
    wire [0:0]seq_reg_2;
    wire [0:0]seq_reg_1;
    wire [0:0]seq_reg_0;
    (* lineinfo="@4(47[15],47[21])" *) wire [31:0]eqVals;
    wire [0:0]eqVals_31__N_9;
    wire [0:0]seq_reg_29;
    wire [0:0]seq_reg_28;
    wire [0:0]seq_reg_27;
    wire [0:0]seq_reg_26;
    wire [0:0]seq_reg_25;
    wire [0:0]seq_reg_24;
    wire [0:0]seq_reg_23;
    wire [0:0]seq_reg_22;
    wire [0:0]seq_reg_21;
    wire [0:0]seq_reg_20;
    wire [0:0]seq_reg_19;
    wire [0:0]seq_reg_18;
    wire [0:0]seq_reg_17;
    wire [0:0]seq_reg_16;
    wire [0:0]seq_reg_15;
    wire [0:0]seq_reg_14;
    wire [0:0]seq_reg_13;
    wire [0:0]seq_reg_12;
    wire [0:0]seq_reg_11;
    wire [0:0]seq_reg_10;
    wire [0:0]seq_reg_9;
    wire [0:0]seq_reg_8;
    wire [0:0]seq_reg_7;
    wire [0:0]seq_reg_6;
    wire [0:0]seq_reg_5;
    
    wire VCC_net, GND_net;
    
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(119[15],122[8])" *) FD1P3XZ wasdone_c (.D(done_c), 
            .SP(VCC_net), .CK(sck_c_derived_2), .SR(GND_net), .Q(wasdone));
    defparam wasdone_c.REGSET = "RESET";
    defparam wasdone_c.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(119[15],122[8])" *) FD1P3XZ sdodelayed_c (.D(finalValCaptured[6]), 
            .SP(VCC_net), .CK(sck_c_derived_2), .SR(GND_net), .Q(sdodelayed));
    defparam sdodelayed_c.REGSET = "RESET";
    defparam sdodelayed_c.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i5 (.D(seq_reg_3[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_4[0]));
    defparam eqVals__i5.REGSET = "RESET";
    defparam eqVals__i5.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i4 (.D(seq_reg_2[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_3[0]));
    defparam eqVals__i4.REGSET = "RESET";
    defparam eqVals__i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i3 (.D(seq_reg_1[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_2[0]));
    defparam eqVals__i3.REGSET = "RESET";
    defparam eqVals__i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i2 (.D(seq_reg_0[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_1[0]));
    defparam eqVals__i2.REGSET = "RESET";
    defparam eqVals__i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ finalValCaptured_i7 (.D(finalValCaptured_6__N_174[6]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(finalValCaptured[6]));
    defparam finalValCaptured_i7.REGSET = "RESET";
    defparam finalValCaptured_i7.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ finalValCaptured_i6 (.D(finalValCaptured_6__N_174[5]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(finalValCaptured[5]));
    defparam finalValCaptured_i6.REGSET = "RESET";
    defparam finalValCaptured_i6.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ finalValCaptured_i5 (.D(finalValCaptured_6__N_174[4]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(finalValCaptured[4]));
    defparam finalValCaptured_i5.REGSET = "RESET";
    defparam finalValCaptured_i5.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ finalValCaptured_i4 (.D(finalValCaptured_6__N_174[3]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(finalValCaptured[3]));
    defparam finalValCaptured_i4.REGSET = "RESET";
    defparam finalValCaptured_i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ finalValCaptured_i3 (.D(finalValCaptured_6__N_174[2]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(finalValCaptured[2]));
    defparam finalValCaptured_i3.REGSET = "RESET";
    defparam finalValCaptured_i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ finalValCaptured_i2 (.D(finalValCaptured_6__N_174[1]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(finalValCaptured[1]));
    defparam finalValCaptured_i2.REGSET = "RESET";
    defparam finalValCaptured_i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i32 (.D(eqVals_31__N_9[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(eqVals[31]));
    defparam eqVals__i32.REGSET = "RESET";
    defparam eqVals__i32.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(111[9],114[6])" *) LUT4 mux_20_i1_3_lut (.A(finalVal[0]), 
            .B(eqVals[31]), .C(wasdone), .Z(finalValCaptured_6__N_174[0]));
    defparam mux_20_i1_3_lut.INIT = "0xcaca";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i31 (.D(seq_reg_29[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(eqVals_31__N_9[0]));
    defparam eqVals__i31.REGSET = "RESET";
    defparam eqVals__i31.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i30 (.D(seq_reg_28[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_29[0]));
    defparam eqVals__i30.REGSET = "RESET";
    defparam eqVals__i30.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i29 (.D(seq_reg_27[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_28[0]));
    defparam eqVals__i29.REGSET = "RESET";
    defparam eqVals__i29.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i28 (.D(seq_reg_26[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_27[0]));
    defparam eqVals__i28.REGSET = "RESET";
    defparam eqVals__i28.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i27 (.D(seq_reg_25[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_26[0]));
    defparam eqVals__i27.REGSET = "RESET";
    defparam eqVals__i27.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i26 (.D(seq_reg_24[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_25[0]));
    defparam eqVals__i26.REGSET = "RESET";
    defparam eqVals__i26.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i25 (.D(seq_reg_23[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_24[0]));
    defparam eqVals__i25.REGSET = "RESET";
    defparam eqVals__i25.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i24 (.D(seq_reg_22[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_23[0]));
    defparam eqVals__i24.REGSET = "RESET";
    defparam eqVals__i24.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i23 (.D(seq_reg_21[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_22[0]));
    defparam eqVals__i23.REGSET = "RESET";
    defparam eqVals__i23.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i22 (.D(seq_reg_20[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_21[0]));
    defparam eqVals__i22.REGSET = "RESET";
    defparam eqVals__i22.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i21 (.D(seq_reg_19[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_20[0]));
    defparam eqVals__i21.REGSET = "RESET";
    defparam eqVals__i21.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i20 (.D(seq_reg_18[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_19[0]));
    defparam eqVals__i20.REGSET = "RESET";
    defparam eqVals__i20.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i19 (.D(seq_reg_17[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_18[0]));
    defparam eqVals__i19.REGSET = "RESET";
    defparam eqVals__i19.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i18 (.D(seq_reg_16[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_17[0]));
    defparam eqVals__i18.REGSET = "RESET";
    defparam eqVals__i18.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i17 (.D(seq_reg_15[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_16[0]));
    defparam eqVals__i17.REGSET = "RESET";
    defparam eqVals__i17.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i16 (.D(seq_reg_14[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_15[0]));
    defparam eqVals__i16.REGSET = "RESET";
    defparam eqVals__i16.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i15 (.D(seq_reg_13[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_14[0]));
    defparam eqVals__i15.REGSET = "RESET";
    defparam eqVals__i15.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i14 (.D(seq_reg_12[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_13[0]));
    defparam eqVals__i14.REGSET = "RESET";
    defparam eqVals__i14.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i13 (.D(seq_reg_11[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_12[0]));
    defparam eqVals__i13.REGSET = "RESET";
    defparam eqVals__i13.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i12 (.D(seq_reg_10[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_11[0]));
    defparam eqVals__i12.REGSET = "RESET";
    defparam eqVals__i12.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i11 (.D(seq_reg_9[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_10[0]));
    defparam eqVals__i11.REGSET = "RESET";
    defparam eqVals__i11.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i10 (.D(seq_reg_8[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_9[0]));
    defparam eqVals__i10.REGSET = "RESET";
    defparam eqVals__i10.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i9 (.D(seq_reg_7[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_8[0]));
    defparam eqVals__i9.REGSET = "RESET";
    defparam eqVals__i9.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i8 (.D(seq_reg_6[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_7[0]));
    defparam eqVals__i8.REGSET = "RESET";
    defparam eqVals__i8.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i7 (.D(seq_reg_5[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_6[0]));
    defparam eqVals__i7.REGSET = "RESET";
    defparam eqVals__i7.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ eqVals__i6 (.D(seq_reg_4[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(seq_reg_5[0]));
    defparam eqVals__i6.REGSET = "RESET";
    defparam eqVals__i6.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) IOL_B eqVals__i1 (.PADDI(sdi_c), 
            .DO1(GND_net), .DO0(GND_net), .CE(VCC_net), .IOLTO(GND_net), 
            .HOLD(GND_net), .INCLK(sck_c), .OUTCLK(GND_net), .DI0(seq_reg_0[0]));
    defparam eqVals__i1.LATCHIN = "NONE_REG";
    defparam eqVals__i1.DDROUT = "NO";
    (* lut_function="(A (B+((D)+!C))+!A !(((D)+!C)+!B))", lineinfo="@4(126[19],126[63])" *) LUT4 finalVal_7__I_0_4_lut (.A(sdodelayed), 
            .B(finalVal[7]), .C(done_c), .D(wasdone), .Z(sdo_c));
    defparam finalVal_7__I_0_4_lut.INIT = "0xaaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(111[9],114[6])" *) LUT4 mux_20_i2_3_lut (.A(finalVal[1]), 
            .B(finalValCaptured[0]), .C(wasdone), .Z(finalValCaptured_6__N_174[1]));
    defparam mux_20_i2_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(111[9],114[6])" *) LUT4 mux_20_i3_3_lut (.A(finalVal[2]), 
            .B(finalValCaptured[1]), .C(wasdone), .Z(finalValCaptured_6__N_174[2]));
    defparam mux_20_i3_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(111[9],114[6])" *) LUT4 mux_20_i4_3_lut (.A(finalVal[3]), 
            .B(finalValCaptured[2]), .C(wasdone), .Z(finalValCaptured_6__N_174[3]));
    defparam mux_20_i4_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(111[9],114[6])" *) LUT4 mux_20_i5_3_lut (.A(finalVal[4]), 
            .B(finalValCaptured[3]), .C(wasdone), .Z(finalValCaptured_6__N_174[4]));
    defparam mux_20_i5_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(111[9],114[6])" *) LUT4 mux_20_i6_3_lut (.A(finalVal[5]), 
            .B(finalValCaptured[4]), .C(wasdone), .Z(finalValCaptured_6__N_174[5]));
    defparam mux_20_i6_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(111[9],114[6])" *) LUT4 mux_20_i7_3_lut (.A(finalVal[6]), 
            .B(finalValCaptured[5]), .C(wasdone), .Z(finalValCaptured_6__N_174[6]));
    defparam mux_20_i7_3_lut.INIT = "0xcaca";
    (* lineinfo="@4(119[17],119[28])" *) INV i9_1_lut (.A(sck_c), .Z(sck_c_derived_2));
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=10, LSE_RCOL=55, LSE_LLINE=84, LSE_RLINE=84, lineinfo="@4(110[12],115[8])" *) FD1P3XZ finalValCaptured_i1 (.D(finalValCaptured_6__N_174[0]), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(finalValCaptured[0]));
    defparam finalValCaptured_i1.REGSET = "RESET";
    defparam finalValCaptured_i1.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    VLO i3 (.Z(GND_net));
    
endmodule

//
// Verilog Description of module eq1_core
//

module eq1_core (input \left[16] , input load_c, input scki_c, output done_c, 
            input \left[23] , output [7:0]finalVal, input \left[22] , 
            input \left[21] , input \left[20] , input \left[19] , input \left[18] , 
            input \left[17] );
    
    (* is_clock=1, lineinfo="@4(43[8],43[11])" *) wire scki_c;
    (* lineinfo="@4(138[13],138[21])" *) wire [7:0]leftTemp;
    
    wire done_c_N_215, GND_net, VCC_net;
    
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=11, LSE_RCOL=67, LSE_LLINE=85, LSE_RLINE=85, lineinfo="@4(140[11],155[4])" *) FD1P3XZ done (.D(done_c_N_215), 
            .SP(VCC_net), .CK(scki_c), .SR(GND_net), .Q(done_c));
    defparam done.REGSET = "RESET";
    defparam done.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=11, LSE_RCOL=67, LSE_LLINE=85, LSE_RLINE=85, lineinfo="@4(140[11],155[4])" *) FD1P3XZ leftTemp_i0_i7 (.D(\left[23] ), 
            .SP(load_c), .CK(scki_c), .SR(GND_net), .Q(leftTemp[7]));
    defparam leftTemp_i0_i7.REGSET = "RESET";
    defparam leftTemp_i0_i7.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=11, LSE_RCOL=67, LSE_LLINE=85, LSE_RLINE=85, lineinfo="@4(140[11],155[4])" *) FD1P3XZ finalVal_i0_i0 (.D(leftTemp[0]), 
            .SP(done_c_N_215), .CK(scki_c), .SR(GND_net), .Q(finalVal[0]));
    defparam finalVal_i0_i0.REGSET = "RESET";
    defparam finalVal_i0_i0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=11, LSE_RCOL=67, LSE_LLINE=85, LSE_RLINE=85, lineinfo="@4(140[11],155[4])" *) FD1P3XZ leftTemp_i0_i6 (.D(\left[22] ), 
            .SP(load_c), .CK(scki_c), .SR(GND_net), .Q(leftTemp[6]));
    defparam leftTemp_i0_i6.REGSET = "RESET";
    defparam leftTemp_i0_i6.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=11, LSE_RCOL=67, LSE_LLINE=85, LSE_RLINE=85, lineinfo="@4(140[11],155[4])" *) FD1P3XZ leftTemp_i0_i5 (.D(\left[21] ), 
            .SP(load_c), .CK(scki_c), .SR(GND_net), .Q(leftTemp[5]));
    defparam leftTemp_i0_i5.REGSET = "RESET";
    defparam leftTemp_i0_i5.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=11, LSE_RCOL=67, LSE_LLINE=85, LSE_RLINE=85, lineinfo="@4(140[11],155[4])" *) FD1P3XZ leftTemp_i0_i4 (.D(\left[20] ), 
            .SP(load_c), .CK(scki_c), .SR(GND_net), .Q(leftTemp[4]));
    defparam leftTemp_i0_i4.REGSET = "RESET";
    defparam leftTemp_i0_i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=11, LSE_RCOL=67, LSE_LLINE=85, LSE_RLINE=85, lineinfo="@4(140[11],155[4])" *) FD1P3XZ leftTemp_i0_i3 (.D(\left[19] ), 
            .SP(load_c), .CK(scki_c), .SR(GND_net), .Q(leftTemp[3]));
    defparam leftTemp_i0_i3.REGSET = "RESET";
    defparam leftTemp_i0_i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=11, LSE_RCOL=67, LSE_LLINE=85, LSE_RLINE=85, lineinfo="@4(140[11],155[4])" *) FD1P3XZ leftTemp_i0_i2 (.D(\left[18] ), 
            .SP(load_c), .CK(scki_c), .SR(GND_net), .Q(leftTemp[2]));
    defparam leftTemp_i0_i2.REGSET = "RESET";
    defparam leftTemp_i0_i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=11, LSE_RCOL=67, LSE_LLINE=85, LSE_RLINE=85, lineinfo="@4(140[11],155[4])" *) FD1P3XZ leftTemp_i0_i1 (.D(\left[17] ), 
            .SP(load_c), .CK(scki_c), .SR(GND_net), .Q(leftTemp[1]));
    defparam leftTemp_i0_i1.REGSET = "RESET";
    defparam leftTemp_i0_i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=11, LSE_RCOL=67, LSE_LLINE=85, LSE_RLINE=85, lineinfo="@4(140[11],155[4])" *) FD1P3XZ finalVal_i0_i1 (.D(leftTemp[1]), 
            .SP(done_c_N_215), .CK(scki_c), .SR(GND_net), .Q(finalVal[1]));
    defparam finalVal_i0_i1.REGSET = "RESET";
    defparam finalVal_i0_i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=11, LSE_RCOL=67, LSE_LLINE=85, LSE_RLINE=85, lineinfo="@4(140[11],155[4])" *) FD1P3XZ finalVal_i0_i2 (.D(leftTemp[2]), 
            .SP(done_c_N_215), .CK(scki_c), .SR(GND_net), .Q(finalVal[2]));
    defparam finalVal_i0_i2.REGSET = "RESET";
    defparam finalVal_i0_i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=11, LSE_RCOL=67, LSE_LLINE=85, LSE_RLINE=85, lineinfo="@4(140[11],155[4])" *) FD1P3XZ finalVal_i0_i3 (.D(leftTemp[3]), 
            .SP(done_c_N_215), .CK(scki_c), .SR(GND_net), .Q(finalVal[3]));
    defparam finalVal_i0_i3.REGSET = "RESET";
    defparam finalVal_i0_i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=11, LSE_RCOL=67, LSE_LLINE=85, LSE_RLINE=85, lineinfo="@4(140[11],155[4])" *) FD1P3XZ finalVal_i0_i4 (.D(leftTemp[4]), 
            .SP(done_c_N_215), .CK(scki_c), .SR(GND_net), .Q(finalVal[4]));
    defparam finalVal_i0_i4.REGSET = "RESET";
    defparam finalVal_i0_i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=11, LSE_RCOL=67, LSE_LLINE=85, LSE_RLINE=85, lineinfo="@4(140[11],155[4])" *) FD1P3XZ finalVal_i0_i5 (.D(leftTemp[5]), 
            .SP(done_c_N_215), .CK(scki_c), .SR(GND_net), .Q(finalVal[5]));
    defparam finalVal_i0_i5.REGSET = "RESET";
    defparam finalVal_i0_i5.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=11, LSE_RCOL=67, LSE_LLINE=85, LSE_RLINE=85, lineinfo="@4(140[11],155[4])" *) FD1P3XZ finalVal_i0_i6 (.D(leftTemp[6]), 
            .SP(done_c_N_215), .CK(scki_c), .SR(GND_net), .Q(finalVal[6]));
    defparam finalVal_i0_i6.REGSET = "RESET";
    defparam finalVal_i0_i6.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=11, LSE_RCOL=67, LSE_LLINE=85, LSE_RLINE=85, lineinfo="@4(140[11],155[4])" *) FD1P3XZ finalVal_i0_i7 (.D(leftTemp[7]), 
            .SP(done_c_N_215), .CK(scki_c), .SR(GND_net), .Q(finalVal[7]));
    defparam finalVal_i0_i7.REGSET = "RESET";
    defparam finalVal_i0_i7.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))", lineinfo="@4(141[2],154[6])" *) LUT4 i5_1_lut (.A(load_c), 
            .Z(done_c_N_215));
    defparam i5_1_lut.INIT = "0x5555";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=11, LSE_RCOL=67, LSE_LLINE=85, LSE_RLINE=85, lineinfo="@4(140[11],155[4])" *) FD1P3XZ leftTemp_i0_i0 (.D(\left[16] ), 
            .SP(load_c), .CK(scki_c), .SR(GND_net), .Q(leftTemp[0]));
    defparam leftTemp_i0_i0.REGSET = "RESET";
    defparam leftTemp_i0_i0.SRMODE = "CE_OVER_LSR";
    VHI i2 (.Z(VCC_net));
    VLO i1 (.Z(GND_net));
    
endmodule

//
// Verilog Description of module signalwindow
//

module signalwindow (input sigwin1_c_8, output sigwin0_c_0, input scki_c, 
            output n350, input nreset_c, input \left[10] , output sigwin2_c_2, 
            input \left[11] , output sigwin3_c_3, input \bit_state[2] , 
            input \bit_state[1] , input n439);
    
    (* is_clock=1, lineinfo="@4(43[8],43[11])" *) wire scki_c;
    
    wire n348;
    
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=15, LSE_RCOL=67, LSE_LLINE=90, LSE_RLINE=90, lineinfo="@2(11[15],47[12])" *) FD1P3XZ \signalWindow[9]__i131  (.D(\left[10] ), 
            .SP(n348), .CK(scki_c), .SR(n350), .Q(sigwin2_c_2));
    defparam \signalWindow[9]__i131 .REGSET = "RESET";
    defparam \signalWindow[9]__i131 .SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))", lineinfo="@4(15[24],15[30])" *) LUT4 i24_1_lut (.A(nreset_c), 
            .Z(n350));
    defparam i24_1_lut.INIT = "0x5555";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=15, LSE_RCOL=67, LSE_LLINE=90, LSE_RLINE=90, lineinfo="@2(11[15],47[12])" *) FD1P3XZ \signalWindow[9]__i132  (.D(\left[11] ), 
            .SP(n348), .CK(scki_c), .SR(n350), .Q(sigwin3_c_3));
    defparam \signalWindow[9]__i132 .REGSET = "RESET";
    defparam \signalWindow[9]__i132 .SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (C+!(D))+!A (B (C+!(D))+!B !(D)))", lineinfo="@2(11[15],47[12])" *) LUT4 i27_2_lut_3_lut_4_lut (.A(\bit_state[2] ), 
            .B(\bit_state[1] ), .C(n439), .D(nreset_c), .Z(n348));
    defparam i27_2_lut_3_lut_4_lut.INIT = "0xe0ff";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=15, LSE_RCOL=67, LSE_LLINE=90, LSE_RLINE=90, lineinfo="@2(11[15],47[12])" *) FD1P3XZ \signalWindow[9]__i129  (.D(sigwin1_c_8), 
            .SP(n348), .CK(scki_c), .SR(n350), .Q(sigwin0_c_0));
    defparam \signalWindow[9]__i129 .REGSET = "RESET";
    defparam \signalWindow[9]__i129 .SRMODE = "CE_OVER_LSR";
    
endmodule
